@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap);


#background{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(bg1.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    scale: 102%;
}

body{
    color:slategrey;
    font-family: Plus Jakarta Sans;
    overflow-x: hidden;
}

#maintext{
    font-size: xx-large;
    position:relative;
    text-align: center;
    font-family: Plus Jakarta Sans;
    color: aliceblue;
    font-weight: 500;
    padding: 50px;
}

a {
    display:block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    border-radius: 100px;
    padding: 50px;
    transform: scale(75%);
    transition-duration: 1s;
    font-size: 200%;
    scale: 100%;
    font-weight: 400;
  }
  

#Navigation{
 padding-left: 25%;
 padding-right: 25%;
}



a:hover {
    transition-duration: 1s;
    scale: 125%;
    font-size: 375%;
    font-weight: 900;
    border-radius: 15px;
  }




  #devs{
    position: absolute;
    transform: translate(500px, 1000px);
  }

  #credit{
    position: relative;
    text-align: center;
    padding: 20px;
  }


  #bold{
    font-weight: 900;
  }


  #start{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  }

  #more{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  }

  #github{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  }

  #bart{
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  }

  #about{
    font-size: xx-large;
    position:relative;
    text-align: center;
    font-family: Plus Jakarta Sans;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 50px;
}